*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #272727;
    overflow-x: hidden;
}
body::-webkit-scrollbar-track {
    background-color: #000;
    width: 15px;
}
body::-webkit-scrollbar {
    background: #F4F4F4;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: #8A8A8A;
    border-radius: 20px;
    border: 3px solid #000;
}

.header{
    width: 100vw;
    filter: drop-shadow(0 6mm 4mm rgba(59, 89, 152,.5));
    height: 20vh;
    background: url('../images/capa.png');
    background-size: cover;
    background-position: 15% 75%;
}

.logo{
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#jr, .space{
    margin: 20px;
    display: flex;
    justify-self: start;
}

#carwash{
    display: flex;
    justify-self: center;
    padding: 1em;
}

.navbar{
    width: 100%;
    height: 40%;
    border: 0;
    padding: 0;
    margin: 0;
}
.navbar>ul{
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px rgba(255, 255, 255, 0.3) solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    flex-direction: row;
}

.navbar ul li{
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar ul li:hover{
    border: 2px solid white;
    transition: 0.1s;
}

.navbar li>a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}


.content{
    display: grid;
    grid-template-areas: "a b c"
                         "d e f"
                         "g  h .";
    width: 80vw;
    min-height: calc(100vh- 40px);
    margin: 0 auto;
    gap: 10px;
    padding-bottom: 40px;
}
.item{
    margin-top: 5em;
    width: 320px;
    height: 280px;
    background-color: #181A1B;
    border-radius: 10px;
}
.item button:hover  {
    transition: all .2s ease;
    background-image: url("../images/icons/agendamento/pos-agendar.svg");
}
.texto{
    display: flex;
    width: 310px;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.item>h3{
    color: #fff;
    font-size: 1.5em;
    padding: .5em;
}
.texto p {
    color: #BDC0C2;
    font-size: 1.4em;
    width: 200px;
    font-weight: 200;
    margin-left: 3px;
    padding: 10px;
}
.item>span{
    display: block;
    width: 320px;
    height: 160px;
    background-size: cover;
    border-radius: 10px;
}
.texto button {
    display: block;
    width: 139px;
    height: 142px;
    border: none;
    background-color: transparent;
    background-image: url("../images/icons/agendamento/agendar.svg");
    background-size: cover;
    background-position: 5% 70%;
    margin-bottom: 15px;
}
.texto button:hover{
    cursor: auto;
}
.item1{
    grid-area: a;
}
.item2{
    grid-area: b;
}
.item3{
    grid-area: c;
}
.item4{
    grid-area: d;
}
.item5{
    grid-area: e;
}
.item6{
    grid-area: f;
}
.item7{
    grid-area: g;
}
.item8{
    grid-area: h;
}
.item1>span{
    background-image: url("../images/agendamento/lavagem-simples.png");
}
.item2>span{
    background-image: url("../images/agendamento/polimento-de-farol.png");
}
.item3>span{
    background-image: url("../images/agendamento/polimento-e-cristalizacao.png");
}
.item4>span{
    background-image: url("../images/agendamento/lavagem-de-motor.png");
}
.item5>span{
    background-image: url("../images/agendamento/lavagem-completa.jpg");
}
.item6>span{
    background-image: url("../images/agendamento/higienizacao-de-banco-de-couro.png");
}
.item7>span{
    background-image: url("../images/agendamento/higienizacao-de-teto.png");
}
.item8>span{
    background-image: url("../images/agendamento/higienizacao-de-banco.png");
}
.item2>.texto{
  width: 340px;
}
.item2>.texto button{
    position: relative;
    right: 12px;
}
.item3>.texto{
    width: 340px;
}
.item3>.texto button{
      position: relative;
      right: 12px;
}
.item6>.texto{
    width: 340px;
}
.item6>.texto button{
      position: relative;
      right: 12px;
}
.item7>.texto{
    width: 340px;
}
.item7>.texto button{
      position: relative;
      right: 12px;
}
.item8>.texto{
    width: 340px;
}
.item8>.texto button{
      position: relative;
      right: 12px;
}

