*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #272727;
}

/* .container{

} */

.header{
    width: 100vw;
    filter: drop-shadow(0 6mm 4mm rgba(59, 89, 152,.5));
    height: 20vh;
    flex-direction: column;
    background: url('../images/capa.png');
    background-size: cover;
    background-position: 15% 75%;
}

.logo{
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#jr, .space{
    margin: 20px;
    display: flex;
    justify-self: start;
}

#carwash{
    display: flex;
    justify-self: center;

}
.navbar{
    height: 40%;
    width: 100%;
    padding: 0;
    align-items: end;
}

.navbar ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-direction: row;
    padding: 0;
    list-style-type: none;
}

.navbar ul li> a{
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    padding: 2em;
    font-size: 1.4em;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 25%;
}
li:nth-child(1){
    background-color: #63C3FF;
    position: relative;
    top: 3px;
    text-align: center;
    width: 300px;
    height: 58px;
}
