*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  
  background-image: linear-gradient(rgba(0,0,0) 18%, rgba(7, 66, 118, 0.733) 60% ), url("../images/capa.png");
  background-size: cover;
  background-position: center center;
}
