*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'K2D';
    src: url(../fonts/K2D/K2D-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Carme';
    src: url(../fonts/Carme/Carme-Regular.ttf);
}
@font-face {
    font-family: 'Space Grotesk';
    src: url(../fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Arimo';
    src: url(../fonts/Arimo/Arimo-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Kanit';
    src: url(../fonts/Kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: 'League Spartan';
    src: url(../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

*::selection{
    background: none;
}

body {
    background-color: #272727;
    overflow-y: auto;
}
body::-webkit-scrollbar-track {
    background-color: #000;
    width: 15px;
}
body::-webkit-scrollbar {
    background: #F4F4F4;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: #8A8A8A;
    border-radius: 20px;
    border: 3px solid #000;
}

.header{
    z-index: 2;
    width: 100vw;
    filter: drop-shadow(0 6mm 4mm rgba(59, 89, 152,.5));
    height: 20vh;
    background: url('../images/capa.png');
    background-size: cover;
    background-position: 15% 75%;
    position: fixed;
}

.logo{
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#jr{
    max-width: 80px;
    margin: 20px;
    display: flex;
}

#logout{
    width: 50px;
    display: flex;
    margin: 20px;
}

#carwash{
    display: flex;
    justify-self: center;
    max-width: 300px;
    padding: 1em;
}

.navbar{
    width: 100%;
    height: 40%;
    border: 0;
    padding: 0;
    margin: 0;
}
.navbar>ul{
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px rgba(255, 255, 255, 0.3) solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    flex-direction: row;
}

.navbar ul li{
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar ul li:hover{
    border: 2px solid white;
    transition: 0.1s;
}

.navbar li>a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}


.navbar2{
    width: 100%;
    height: 10%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: fixed;
    top: 90%;
}

.navbar2 ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 0;

}

.navbar2 ul a li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
    font-size: 0.8em;
}

.navbar2 ul a li img{
    width: 25px;
}

.navbar2 ul a{
    display: flex;
    width: 60px;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.page_atual{
    background-color: #63C3FF;
    width: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 2px;
}
 

.content{
    padding-top: 20vh;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.midia{
    width: 50%;
    height: 100%;
}

.sobre, .redes{
    color: white;
    width: 100%;
    height: 40%;
}

h1{
    margin-top: 6%;
    margin-left: 2vw;
}

p, .linha{
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 2vw;
    text-align: justify;
}

p{
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 2vw;
    text-align: justify;
}

.linha{
    height: 1px;
    width: 96%;
    background-color: #63C3FF;
}

.imagens{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: min-content;
    text-align: justify;
}

.redes_local{
    margin-top: 40px;
    margin-left: 30px;
    width: 95%;
    height: 60%;
    display: grid;
    grid-template-areas: "a b"
    "c c";
}

h2{
    font-size: 1.5em;
    font-weight: 400;
}

.icon{
    padding-right: 10px;
    width: 40px;
}

#info1{
    width: 100%;
    grid-area: a ;
}

#info2{
    width: 100%;
    grid-area: b ;
}

#info3{
    width: 100%;
    grid-area: c ;
}

.imagens img{
    margin-top: 2vh;
    width: 50%;
    text-align: center;
    height: 28%;
}

p{
    min-height: 31em;
}

.midia a{
    color: #63C3FF;
    text-decoration: none;
    font-size: 1.3vw;
}

.img-mobile{
    display: none;
    margin: 0 auto;
    width: 95%;
}

@media(max-width:768px){

    .navbar{
        display: none;
    }

    .header{
        height: 10vh;
        display: flex;
        align-items: center;
        position: fixed;
    }

    .pageName{
        font-family: 'K2D';
        width: 100%;
        text-align: center;
        background-color: rgba(59, 89, 152,.8);
        color: white;
        position: fixed;
        top: 10%;
        height: auto;
        margin: 0;
    }

    
.midia a{
    color: #63C3FF;
    text-decoration: none;
    font-size: 3vw;
}

    #jr{
        width: 30px;
    }

    #carwash{
        width: 200px;
    }

    .navbar2{
        display: flex;
    }

    /* O CÓDIGO CSS DO @MEDIA() MOBILE ACIMA DEVE SER COPIADO EM TODAS AS PÁGINAS CSS's */

    p, .linha{
        margin-top: 2vh;
        margin-left: 2vw;
        font-size: 1em;
        text-align: start;
    }

    .sobre p{
        height: 20vh;
        margin-bottom: 5px;
    }

    .imagens{
        display: none;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .midia{
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    
    .redes_local{
        border: 0;
        margin: 0 auto;
        gap: 2vw;
        text-align: start;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: "a"
                             "b" 
                             "c";
        font-size: 10px;
    }

    .img-mobile{
    display: block;
    margin: 0 auto;
}

    #info1{
        margin-top: 20px;
    }

    .sobre{
        height: 35vw;
    }
    .sobrec p{
        margin: 0 auto;
    }

    .redes{
        height: 20vh;
        margin-top: 10vh;
    }
}